<h1>Quản lý người dùng</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Thêm người dùng</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 30%">Tên</th>
            <th style="width: 30%">Email</th>
            <th style="width: 10%">Giới tính</th>
            <th style="width: 10%">Trạng Thái</th>
            <th style="width: 15%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
            <td>{{i}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.status}}</td>
            <td style="white-space: nowrap; text-align: right;">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Sửa</a>&nbsp;
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Xóa</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <div class="row justify-content-center">
                    <button *ngIf="pagination.page < pagination.pages" (click)="loadMore()" class="btn btn-sm btn-info " [disabled]="pagination.page == pagination.pages">
                        Xem thêm
                    </button>
                </div>
                <!-- <pagination [pager]="pagination" (changePage)="onChangePage($event)"></pagination> -->
            </td>
        </tr>
    </tfoot>
</table>